extends ../layouts/base.pug

block variables
  - let title = '505 Error'

append content
  div.page-error.grid.grid-column
    h1.page-error__code 500
    h2.page-error__heading Мы уже фиксим
    div.page-error__backlink
      a.link(
        href="/"
      ) Назад к чатам