extends ../layouts/base.pug
include ../utils/mixins.pug

block variables
  - let title = 'Авторизаяция'

append content
  div.content.grid.grid-column--reverse.grid-middle
    div.box
      div.box__content
        h2 Вход
        form(
          action="/index.html"
        ).auth-form.grid.grid-column
          div.auth-form__container
            +auth_input("text", "login", "1", "Логин")
            +auth_input("password", "password", "2", "Пароль")
          div.auth-form__action
            button.btn.btn-primary Авторизоваться
          div.auth-form__callout
            a.link(
              href="/registration.pug"
            ) Нет аккаунта?
