extends ../layouts/base.pug
include ../utils/mixins.pug

block variables
  - let title = 'Профиль'

append content
  div.profile.grid
    div.profile__sidebar
      a.profile__backlink.grid.grid-column.grid-middle(href="/")
        div.profile__backlink-btn.grid.grid-column.grid-middle
          <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg"><rect y="5.19995" width="11" height="1.6" fill="#161719"/><path d="M7 1L11 6L7 11" stroke="#161719" stroke-width="1.6"/></svg>
    div.profile__content
      div.profile__container.grid.grid-column
        div.profile__photo
          img(src="../static/temp/1.png")
          span.profile__photo-action Поменять аватар
        div.profile__fullname Иван
        div.profile__info
          div.profile-form
            div.profile-form__list
              +profile_input("text", "email", "Почта", "pochta@yandex.ru")(disabled)
              +profile_input("text", "login", "Логин", "ivanivanov")(disabled)
              +profile_input("text", "first_name", "Имя", "ivanivanov")(disabled)
              +profile_input("text", "second_name", "Фамилия", "ivanivanov")(disabled)
              +profile_input("text", "display_name", "Имя в чате", "ivanivanov")(disabled)
              +profile_input("text", "Телефон", "Телефон", "ivanivanov")(disabled)
        div.profile__action
          ul.profile__action-list
            li.profile__action-item
              a.link(href="/change-profile.pug") Изменить данные
            li.profile__action-item
              a.link(href="/change-password.pug") Изменить пароль
            li.profile__action-item
              a.link.link-danger(href="/") Выйти