extends ../layouts/base.pug
include ../utils/mixins.pug

block variables
  - let title = 'Регистрация'

append content
  div.content.grid.grid-column.grid-middle--reverse
    div.box
      div.box__content
        h2 Регистрация
        form.auth-form.grid.grid-column
          div.auth-form__container
            +auth_input("text", "email", "1", "Почта")
            +auth_input("text", "login", "2", "Логин")
            +auth_input("text", "first_name", "3", "Имя")
            +auth_input("text", "second_name", "4", "Фамилия")
            +auth_input("text", "phone", "5", "Телефон")
            +auth_input("password", "password", "6", "Пароль")
            +auth_input("password", "password_repeat", "7", "Пароль (ещё раз)")
          div.auth-form__action
            button.btn.btn-primary Зарегистрироваться
          div.auth-form__callout
            a.link(
              href="/login.pug"
            ) Войти