block variables

doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title #{title} | Messager
    link(rel="icon", href="../static/favicon.png", type="image/png")
    link(rel="stylesheet", href="../assets/sass/app.sass")
    block styles
  body
    div.app
      block content
    script(src='../app.js')
    block scripts